* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-main {
  background-color: black;
  height: 900px;
  width: 500px;
  border-radius: 50px;
  padding: 20px;
}

.calculator {
  height: 270px;
}

.buttons {
  display: grid;
  grid-template-areas:
    "ac pm percentage divide"
    "yedi sekiz dokuz impact"
    "dört bes altı extraction "
    "bir iki üç collection"
    "sıfır sıfır point equal";
  padding: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 45px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-weight: 900;
}

.button:hover {
  opacity: 0.5;
}

.renk {
  background-color: #a5a5a5;
  color: black;
}

.renk1 {
  background-color: #f1a33c;
}

.ac {
  grid-area: ac;
}

.pm {
  grid-area: pm;
}

.percentage {
  grid-area: percentage;
}

.divide {
  grid-area: divide;
}

.yedi {
  grid-area: yedi;
}

.sekiz {
  grid-area: sekiz;
}
.dokuz {
  grid-area: dokuz;
}

.impact {
  grid-area: impact;
}

.dört {
  grid-area: dört;
}
.bes {
  grid-area: bes;
}
.altı {
  grid-area: altı;
}
.extraction {
  grid-area: extraction;
}

.bir {
  grid-area: bir;
}
.iki {
  grid-area: iki;
}
.üç {
  grid-area: üç;
}

.collection {
  grid-area: collection;
}

.sıfır {
  grid-area: sıfır;
  width: 200px;
  border-radius: 50px;
  padding: 0 100px 0 0;
}

.point {
  grid-area: point;
}

.equal {
  grid-area: equal;
}
