* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home1-img {
  width: 100%;
  height: 100vh;
  background-image: url(img/1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
}

.home1-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.home1-header h1 {
  border: 3px outset goldenrod;
  box-shadow: 3px 3px 7px 3px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 5px;
  color: #d2b168;
  outline: 5px inset rgba(255, 72, 0, 0.35);
  outline-offset: 10px;
  font-weight: bold;
  font-family: "Yellowtail", cursive;
  letter-spacing: 4px;
}

.home2-img {
  background-image: url(img/movies-fantasy-art-the-lord-of-the-rings-the-fellowship-of-the-ring-artwork-mountains-hd-wallpaper-preview.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
}

.home2-text {
  text-align: center;
  background-color: white;
  padding: 40px;
}

.home2-text h1 {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px 3px darkred;
}

.home2-text p {
  color: gray;
}

.home2-header {
  color: white;
  background-image: none;
  display: block;
  position: absolute;
  top: 60%;
  right: 40%;
  left: 40%;
  text-align: center;
}

.home2-header h1 {
  border: 3px outset goldenrod;
  box-shadow: 3px 3px 7px 3px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 5px;
  color: black;
  outline: 5px inset rgba(255, 72, 0, 0.35);
  outline-offset: 10px;
  font-weight: bold;
  font-family: "Yellowtail", cursive;
}

.home3-img {
  background-image: url(img/iki-kule.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
}

.home3-text {
  text-align: center;
  background-color: white;
  padding: 40px;
}

.home3-text h1 {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px 3px darkred;
}

.home3-text p {
  color: gray;
}

.home3-header {
  color: white;
  background-image: none;
  display: block;
  position: absolute;
  top: 60%;
  right: 40%;
  left: 40%;
  text-align: center;
}

.home3-header h1 {
  border: 3px outset goldenrod;
  box-shadow: 3px 3px 7px 3px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 5px;
  color: black;
  outline: 5px inset rgba(255, 72, 0, 0.35);
  outline-offset: 10px;
  font-weight: bold;
  font-family: "Yellowtail", cursive;
}

.home4-img {
  background-image: url(img/kralın-dönüşü.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
}

.home4-text {
  text-align: center;
  background-color: white;
  padding: 40px;
}

.home4-text h1 {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px 3px darkred;
}

.home4-text p {
  color: gray;
}

.home4-header {
  color: white;
  background-image: none;
  display: block;
  position: absolute;
  top: 60%;
  right: 40%;
  left: 40%;
  text-align: center;
}

.home4-header h1 {
  border: 3px outset goldenrod;
  box-shadow: 3px 3px 7px 3px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 5px;
  color: #e7cd95;
  outline: 5px inset rgba(255, 72, 0, 0.35);
  outline-offset: 10px;
  font-weight: bold;
  font-family: "Yellowtail", cursive;
}

.home5-img {
  background-image: url(img/lord-of-the-rings-mordor-mount-doom-eye-of-sauron-wallpaper-preview.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
}

.home5-text {
  text-align: center;
  background-color: white;
  padding: 40px;
}

.home5-text h1 {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px 3px darkred;
}

.home5-text p {
  color: gray;
}

.home5-header {
  color: white;
  background-image: none;
  display: block;
  position: absolute;
  top: 60%;
  right: 40%;
  left: 40%;
  text-align: center;
}

.home5-header h1 {
  border: 3px outset goldenrod;
  box-shadow: 3px 3px 7px 3px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 5px;
  color: #e7cd95;
  outline: 5px inset rgba(255, 72, 0, 0.35);
  outline-offset: 10px;
  font-weight: bold;
  font-family: "Yellowtail", cursive;
}
